doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='js/main.js')

  body
    div.login
      a(href='/login') Sign In
      a(href='/register') Sign Up
    a(href='/') Main
    block content
