extends layout

block content
    -if(message)
        h4= message
    form(method='post', action='/login')
        Label email
            input(type='text' name='email' placeholder="email" value=name)
        br
        label Password
            input(type='password', name='password', value=password)
        br
        input(type='submit', value="ok")
